.todoform {
    background-color: aliceblue;
    border-radius: 8px;
    width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 40px;
    box-shadow: 0 3px 5px rgb(0,0,0,0.1)
}

.input {
    width: 100%;
    display: block;
    padding: 5px;
    margin-top: 10px;
}
.input:focus {
    outline:none;
}
.form{
    padding: 5px;
}

.button {
    background-color: greenyellow;
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 190px;
    cursor: pointer;
}